* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.app {
  display: flex;
  flex-direction: column-reverse;
}

.selects-container {
  display: flex;
}

.session-container {
  width: 100%;
  background: #fcefe0;
  padding-bottom: 20px;
}

.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preferences-container {
  width: 100%;
  background-color: #f6e5ce;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.selected-song-container {
  display: flex;
  margin-bottom: 15px;
}

.duration-container,
.selector {
  margin-top: 20px;
  width: 100%;
}

.meditation-img {
  width: 100%;
}

h1 {
  font-size: 35px;
}

h3 {
  margin-top: 5px;
  font-weight: 300;
}

.select-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.preferences {
  color: #414143;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 20px 0;
}

button,
select {
  cursor: pointer;
}

img.icon {
  margin-right: 8px;
}

.timer-display {
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
  margin-bottom: 20px;
}

.sound-name {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.audio-btn {
  color: #414143;
  background-color: #e89e76;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  padding: 15px;
  margin: 10px;
}

.audio-btn:focus {
  color: #e89e76;
  background-color: #3e3e40;
}

.sound-button.disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #ebebeb;
}

.sound-button,
.reset-button {
  background-color: #707369;
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 18px;
  letter-spacing: 4px;
  margin: 8px 0px;
}

.reset-button {
  display: none;
}

select#minutes {
  width: 15%;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px;
  margin-right: 6px;
}

@media screen and (min-width: 1024px) {
  .app {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
}
